################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/utils/read-write-mem/.vs/VSWorkspaceState.json
/utils/read-write-mem/.vs/slnx.sqlite
/utils/read-write-mem/.vs/ProjectSettings.json
/utils/read-write-mem/.vs/read-write-mem/v16/ipch/AutoPCH/2a290026625face3
/utils/read-write-mem/.vs/read-write-mem/v16
/.vs
/utils/.vs/utils/v16
/utils/.vs
