################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/utils/read-write-mem/.vs/VSWorkspaceState.json
